# Pandas-notes

by panfeng3141 | 2016-5-28

---

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 一、Object Creation

#### Creating a Series by passing a list of values, letting pandas create a default integer index:

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

#### Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:

In [6]:
dates = pd.date_range('20130101', periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01  1.431510  2.198873  1.499909 -0.860189
2013-01-02 -0.490164  0.245186 -0.088227  0.202495
2013-01-03  0.901716  2.109316  1.519154  0.190347
2013-01-04  1.518263 -0.183908  0.934466 -1.678126
2013-01-05  0.241306  0.137567  0.171558 -0.856492
2013-01-06 -1.724195  0.755962  0.998388 -1.280674

#### Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [11]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })
   ....:

In [12]:
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

#### Having specific dtypes

In [14]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## 二、Viewing Data

#### See the top & bottom rows of the frame

In [19]:
df.head()

                   A         B         C         D
2013-01-01  1.431510  2.198873  1.499909 -0.860189
2013-01-02 -0.490164  0.245186 -0.088227  0.202495
2013-01-03  0.901716  2.109316  1.519154  0.190347
2013-01-04  1.518263 -0.183908  0.934466 -1.678126
2013-01-05  0.241306  0.137567  0.171558 -0.856492

In [21]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.518263 -0.183908  0.934466 -1.678126
2013-01-05  0.241306  0.137567  0.171558 -0.856492
2013-01-06 -1.724195  0.755962  0.998388 -1.280674

#### Display the index, columns, and the underlying numpy data

In [22]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [23]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [24]:
df.values

array([[ 1.43151039,  2.19887316,  1.49990879, -0.86018888],
       [-0.49016365,  0.24518555, -0.08822667,  0.20249453],
       [ 0.90171593,  2.10931553,  1.51915401,  0.19034722],
       [ 1.51826337, -0.18390825,  0.9344664 , -1.67812579],
       [ 0.24130644,  0.13756683,  0.17155839, -0.85649167],
       [-1.72419471,  0.75596193,  0.99838847, -1.28067408]])

#### Describe shows a quick statistic summary of your data

In [25]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.313073  0.877166  0.839208 -0.713773
std    1.253051  1.034609  0.669202  0.768133
min   -1.724195 -0.183908 -0.088227 -1.678126
25%   -0.307296  0.164472  0.362285 -1.175553
50%    0.571511  0.500574  0.966427 -0.858340
75%    1.299062  1.770977  1.374529 -0.071363
max    1.518263  2.198873  1.519154  0.202495

#### Transposing your data

In [26]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.431510   -0.490164    0.901716    1.518263    0.241306   -1.724195
B    2.198873    0.245186    2.109316   -0.183908    0.137567    0.755962
C    1.499909   -0.088227    1.519154    0.934466    0.171558    0.998388
D   -0.860189    0.202495    0.190347   -1.678126   -0.856492   -1.280674

#### Sorting by an axis

In [28]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.860189  1.499909  2.198873  1.431510
2013-01-02  0.202495 -0.088227  0.245186 -0.490164
2013-01-03  0.190347  1.519154  2.109316  0.901716
2013-01-04 -1.678126  0.934466 -0.183908  1.518263
2013-01-05 -0.856492  0.171558  0.137567  0.241306
2013-01-06 -1.280674  0.998388  0.755962 -1.724195

#### Sorting by values

In [29]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-04  1.518263 -0.183908  0.934466 -1.678126
2013-01-05  0.241306  0.137567  0.171558 -0.856492
2013-01-02 -0.490164  0.245186 -0.088227  0.202495
2013-01-06 -1.724195  0.755962  0.998388 -1.280674
2013-01-03  0.901716  2.109316  1.519154  0.190347
2013-01-01  1.431510  2.198873  1.499909 -0.860189

## 三、Selection

#### Getting

In [35]:
#Selecting a single column, which yields a Series, equivalent to df.A
df['A']

2013-01-01    1.431510
2013-01-02   -0.490164
2013-01-03    0.901716
2013-01-04    1.518263
2013-01-05    0.241306
2013-01-06   -1.724195
Freq: D, Name: A, dtype: float64

In [33]:
#Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2013-01-01  1.431510  2.198873  1.499909 -0.860189
2013-01-02 -0.490164  0.245186 -0.088227  0.202495
2013-01-03  0.901716  2.109316  1.519154  0.190347

In [34]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.490164  0.245186 -0.088227  0.202495
2013-01-03  0.901716  2.109316  1.519154  0.190347
2013-01-04  1.518263 -0.183908  0.934466 -1.678126

#### Selection by Label

In [36]:
df.loc[dates[0]]

A    1.431510
B    2.198873
C    1.499909
D   -0.860189
Name: 2013-01-01 00:00:00, dtype: float64

In [37]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  1.431510  2.198873
2013-01-02 -0.490164  0.245186
2013-01-03  0.901716  2.109316
2013-01-04  1.518263 -0.183908
2013-01-05  0.241306  0.137567
2013-01-06 -1.724195  0.755962

In [38]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -0.490164  0.245186
2013-01-03  0.901716  2.109316
2013-01-04  1.518263 -0.183908

In [39]:
df.loc['20130102',['A','B']]

A   -0.490164
B    0.245186
Name: 2013-01-02 00:00:00, dtype: float64

In [40]:
 df.loc[dates[0],'A']

1.4315103875146225

In [41]:
df.at[dates[0],'A']

1.4315103875146225

#### Selection by Position

In [42]:
df.iloc[3]

A    1.518263
B   -0.183908
C    0.934466
D   -1.678126
Name: 2013-01-04 00:00:00, dtype: float64

In [43]:
df

                   A         B         C         D
2013-01-01  1.431510  2.198873  1.499909 -0.860189
2013-01-02 -0.490164  0.245186 -0.088227  0.202495
2013-01-03  0.901716  2.109316  1.519154  0.190347
2013-01-04  1.518263 -0.183908  0.934466 -1.678126
2013-01-05  0.241306  0.137567  0.171558 -0.856492
2013-01-06 -1.724195  0.755962  0.998388 -1.280674

In [44]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  1.518263 -0.183908
2013-01-05  0.241306  0.137567

In [45]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.490164 -0.088227
2013-01-03  0.901716  1.519154
2013-01-05  0.241306  0.171558

In [46]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -0.490164  0.245186 -0.088227  0.202495
2013-01-03  0.901716  2.109316  1.519154  0.190347

In [47]:
df.iloc[:,1:3]

                   B         C
2013-01-01  2.198873  1.499909
2013-01-02  0.245186 -0.088227
2013-01-03  2.109316  1.519154
2013-01-04 -0.183908  0.934466
2013-01-05  0.137567  0.171558
2013-01-06  0.755962  0.998388

In [48]:
df.iloc[1,1]

0.24518554746695206

In [49]:
df.iat[1,1]

0.24518554746695206

#### Boolean Indexing

In [50]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  1.431510  2.198873  1.499909 -0.860189
2013-01-03  0.901716  2.109316  1.519154  0.190347
2013-01-04  1.518263 -0.183908  0.934466 -1.678126
2013-01-05  0.241306  0.137567  0.171558 -0.856492

In [51]:
df[df > 0]

                   A         B         C         D
2013-01-01  1.431510  2.198873  1.499909       NaN
2013-01-02       NaN  0.245186       NaN  0.202495
2013-01-03  0.901716  2.109316  1.519154  0.190347
2013-01-04  1.518263       NaN  0.934466       NaN
2013-01-05  0.241306  0.137567  0.171558       NaN
2013-01-06       NaN  0.755962  0.998388       NaN

## Missing Data

## Getting Data In/Out

#### Writing to a csv file

In [52]:
df.to_csv('foo.csv')

#### Reading from a csv file

In [53]:
pd.read_csv('foo.csv')

   Unnamed: 0         A         B         C         D
0  2013-01-01  1.431510  2.198873  1.499909 -0.860189
1  2013-01-02 -0.490164  0.245186 -0.088227  0.202495
2  2013-01-03  0.901716  2.109316  1.519154  0.190347
3  2013-01-04  1.518263 -0.183908  0.934466 -1.678126
4  2013-01-05  0.241306  0.137567  0.171558 -0.856492
5  2013-01-06 -1.724195  0.755962  0.998388 -1.280674

In [54]:
pd.read_csv('qqdata.csv')

                   id                 time
0               8cha0    2011/7/8 12:11:13
1             2cha061    2011/7/8 12:11:49
2             6cha437    2011/7/8 12:13:36
3               7cha1    2011/7/8 12:16:01
4               7cha1    2011/7/8 12:16:05
5             2cha061    2011/7/8 12:17:10
6             6cha437    2011/7/8 12:18:37
7             2cha061    2011/7/8 12:19:09
8             2cha061    2011/7/8 12:19:21
9             6cha437    2011/7/8 12:17:51
10            6cha437    2011/7/8 12:20:23
11            6cha437    2011/7/8 12:19:38
12            4cha387    2011/7/8 12:21:43
13            2cha061    2011/7/8 12:21:46
14            2cha093    2011/7/8 12:29:29
15            2cha061    2011/7/8 12:29:53
16            6cha437    2011/7/8 12:30:18
17            2cha093    2011/7/8 12:30:25
18            6cha437    2011/7/8 12:30:33
19            2cha061    2011/7/8 12:30:32
20            2cha093    2011/7/8 12:30:47
21            6cha437    2011/7/8 12:31:05
22            6cha437    2011/7/8 12:29:51
23            2cha093    2011/7/8 12:31:45
24            2cha061    2011/7/8 12:31:58
25            6cha437    2011/7/8 12:32:14
26            6cha437    2011/7/8 12:32:22
27            2cha093    2011/7/8 12:32:22
28            6cha437    2011/7/8 12:32:47
29            2cha093    2011/7/8 12:32:51
...               ...                  ...
11532        8cha5910  2012/11/27 21:14:50
11533          6cha80  2012/11/27 21:15:36
11534         6cha437  2012/11/29 17:55:35
11535         6cha437  2012/11/29 17:55:41
11536           3cha7  2012/11/29 17:55:48
11537           3cha7  2012/11/29 17:55:53
11538         8cha180  2012/11/29 18:15:26
11539         4cha387  2012/11/29 21:44:33
11540           7cha1  2012/11/29 21:50:16
11541         4cha387  2012/11/29 21:56:19
11542            2cha  2012/11/29 21:56:30
11543           7cha1  2012/11/29 21:56:53
11544           7cha1  2012/11/29 21:56:55
11545  acha@vip.qq.co  2012/11/30 18:14:02
11546         6cha437  2012/11/30 18:14:33
11547         6cha437  2012/11/30 18:14:51
11548  acha@vip.qq.co  2012/11/30 18:14:52
11549         6cha437  2012/11/30 18:15:33
11550  acha@vip.qq.co  2012/11/30 18:15:51
11551         6cha437  2012/11/30 18:16:35
11552           7cha1  2012/11/30 18:26:02
11553           7cha1  2012/11/30 18:26:08
11554  acha@vip.qq.co  2012/11/30 18:26:30
11555           7cha1  2012/11/30 18:26:43
11556  acha@vip.qq.co  2012/11/30 18:26:51
11557  acha@vip.qq.co  2012/11/30 18:26:58
11558         6cha437  2012/11/30 18:27:27
11559         6cha437  2012/11/30 18:27:43
11560           7cha1  2012/11/30 18:28:24
11561           7cha1  2012/11/30 18:28:28

[11562 rows x 2 columns]

#### Writing to an excel file

In [55]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

#### Reading from an excel file

In [56]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

                   A         B         C         D
2013-01-01  1.431510  2.198873  1.499909 -0.860189
2013-01-02 -0.490164  0.245186 -0.088227  0.202495
2013-01-03  0.901716  2.109316  1.519154  0.190347
2013-01-04  1.518263 -0.183908  0.934466 -1.678126
2013-01-05  0.241306  0.137567  0.171558 -0.856492
2013-01-06 -1.724195  0.755962  0.998388 -1.280674

#### Writing to a HDF5 Store

In [58]:
df.to_hdf('foo.h5','df')

#### Reading from a HDF5 Store

In [59]:
pd.read_hdf('foo.h5','df')

                   A         B         C         D
2013-01-01  1.431510  2.198873  1.499909 -0.860189
2013-01-02 -0.490164  0.245186 -0.088227  0.202495
2013-01-03  0.901716  2.109316  1.519154  0.190347
2013-01-04  1.518263 -0.183908  0.934466 -1.678126
2013-01-05  0.241306  0.137567  0.171558 -0.856492
2013-01-06 -1.724195  0.755962  0.998388 -1.280674

http://data.earthquake.cn/datashare/globeEarthquake_csn.html

#### Read_html

In [79]:
url='http://data.earthquake.cn/datashare/globeEarthquake_csn.html'

In [80]:
dfs＝pd.read_html(url)

SyntaxError: invalid syntax (<ipython-input-80-8d5d46a4f77c>, line 1)

In [83]:
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
import pandas as pd
import numpy as np
from pandas_datareader import data, wb

In [ ]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
res = requests.get("http://data.earthquake.cn/datashare/globeEarthquake_csn.html")
res.encoding = 'gb18030'
soup = bs(res.text)
tb = soup.select('table')[5]
date = [tr.select('td')[0].text for tr in tb.select('tr')]
time = [tr.select('td')[1].text for tr in tb.select('tr')]
lat = [tr.select('td')[2].text for tr in tb.select('tr')]
lon = [tr.select('td')[3].text for tr in tb.select('tr')]
depth = [tr.select('td')[4].text for tr in tb.select('tr')]
lvl = [tr.select('td')[5].text for tr in tb.select('tr')]
etype = [tr.select('td')[6].text for tr in tb.select('tr')]
place = [tr.select('td')[7].text for tr in tb.select('tr')]
edf = pd.DataFrame({'date': date[1::], 'time': time[1::], 'lon': lon[1::], 
                    'lat': lat[1::], 'depth':depth[1::], 'lvl':lvl[1::], 'etype':etype[1::], 'place':place[1::]})

edf.head()

In [88]:
pip install pandas_datareader

SyntaxError: invalid syntax (<ipython-input-88-16663e45080a>, line 1)

In [89]:
pd.read_csv('qqdata.csv')

                   id              time
0               8cha0    2011/7/8 12:11
1             2cha061    2011/7/8 12:11
2             6cha437    2011/7/8 12:13
3               7cha1    2011/7/8 12:16
4               7cha1    2011/7/8 12:16
5             2cha061    2011/7/8 12:17
6             6cha437    2011/7/8 12:18
7             2cha061    2011/7/8 12:19
8             2cha061    2011/7/8 12:19
9             6cha437    2011/7/8 12:17
10            6cha437    2011/7/8 12:20
11            6cha437    2011/7/8 12:19
12            4cha387    2011/7/8 12:21
13            2cha061    2011/7/8 12:21
14            2cha093    2011/7/8 12:29
15            2cha061    2011/7/8 12:29
16            6cha437    2011/7/8 12:30
17            2cha093    2011/7/8 12:30
18            6cha437    2011/7/8 12:30
19            2cha061    2011/7/8 12:30
20            2cha093    2011/7/8 12:30
21            6cha437    2011/7/8 12:31
22            6cha437    2011/7/8 12:29
23            2cha093    2011/7/8 12:31
24            2cha061    2011/7/8 12:31
25            6cha437    2011/7/8 12:32
26            6cha437    2011/7/8 12:32
27            2cha093    2011/7/8 12:32
28            6cha437    2011/7/8 12:32
29            2cha093    2011/7/8 12:32
...               ...               ...
11532        8cha5910  2012/11/27 21:14
11533          6cha80  2012/11/27 21:15
11534         6cha437  2012/11/29 17:55
11535         6cha437  2012/11/29 17:55
11536           3cha7  2012/11/29 17:55
11537           3cha7  2012/11/29 17:55
11538         8cha180  2012/11/29 18:15
11539         4cha387  2012/11/29 21:44
11540           7cha1  2012/11/29 21:50
11541         4cha387  2012/11/29 21:56
11542            2cha  2012/11/29 21:56
11543           7cha1  2012/11/29 21:56
11544           7cha1  2012/11/29 21:56
11545  acha@vip.qq.co  2012/11/30 18:14
11546         6cha437  2012/11/30 18:14
11547         6cha437  2012/11/30 18:14
11548  acha@vip.qq.co  2012/11/30 18:14
11549         6cha437  2012/11/30 18:15
11550  acha@vip.qq.co  2012/11/30 18:15
11551         6cha437  2012/11/30 18:16
11552           7cha1  2012/11/30 18:26
11553           7cha1  2012/11/30 18:26
11554  acha@vip.qq.co  2012/11/30 18:26
11555           7cha1  2012/11/30 18:26
11556  acha@vip.qq.co  2012/11/30 18:26
11557  acha@vip.qq.co  2012/11/30 18:26
11558         6cha437  2012/11/30 18:27
11559         6cha437  2012/11/30 18:27
11560           7cha1  2012/11/30 18:28
11561           7cha1  2012/11/30 18:28

[11562 rows x 2 columns]

In [90]:
pd.read_csv('qqdata.csv')

            Date     Open     High      Low    Close  Volume  Adj Close
0      2016/5/27  2821.05  2821.05  2821.05  2821.05       0    2821.05
1      2016/5/25  2815.09  2815.09  2815.09  2815.09       0    2815.09
2      2016/5/24  2821.67  2821.67  2821.67  2821.67       0    2821.67
3      2016/5/20  2825.48  2825.48  2825.48  2825.48       0    2825.48
4      2016/5/19  2806.91  2806.91  2806.91  2806.91       0    2806.91
5      2016/5/18  2807.51  2807.51  2807.51  2807.51       0    2807.51
6      2016/5/17  2843.68  2843.68  2843.68  2843.68       0    2843.68
7      2016/5/16  2850.86  2850.86  2850.86  2850.86       0    2850.86
8      2016/5/13  2827.11  2827.11  2827.11  2827.11       0    2827.11
9      2016/5/12  2835.86  2835.86  2835.86  2835.86       0    2835.86
10     2016/5/11  2837.04  2837.04  2837.04  2837.04       0    2837.04
11     2016/5/10  2832.59  2832.59  2832.59  2832.59       0    2832.59
12      2016/5/9  2832.11  2832.11  2832.11  2832.11       0    2832.11
13      2016/5/6  2913.25  2913.25  2913.25  2913.25       0    2913.25
14      2016/5/5  2997.84  2997.84  2997.84  2997.84       0    2997.84
15      2016/5/4  2991.27  2991.27  2991.27  2991.27       0    2991.27
16      2016/5/3  2992.64  2992.64  2992.64  2992.64       0    2992.64
17     2016/4/29  2938.32  2938.32  2938.32  2938.32       0    2938.32
18     2016/4/28  2945.59  2945.59  2945.59  2945.59       0    2945.59
19     2016/4/27  2953.67  2953.67  2953.67  2953.67       0    2953.67
20     2016/4/26  2964.70  2964.70  2964.70  2964.70       0    2964.70
21     2016/4/25  2946.67  2946.67  2946.67  2946.67       0    2946.67
22     2016/4/22  2959.24  2959.24  2959.24  2959.24       0    2959.24
23     2016/4/21  2952.89  2952.89  2952.89  2952.89       0    2952.89
24     2016/4/20  2972.58  2972.58  2972.58  2972.58       0    2972.58
25     2016/4/19  3042.82  3042.82  3042.82  3042.82       0    3042.82
26     2016/4/18  3033.66  3033.66  3033.66  3033.66       0    3033.66
27     2016/4/15  3078.12  3078.12  3078.12  3078.12       0    3078.12
28     2016/4/14  3082.36  3082.36  3082.36  3082.36       0    3082.36
29     2016/4/13  3066.64  3066.64  3066.64  3066.64       0    3066.64
...          ...      ...      ...      ...      ...     ...        ...
6455   1991/1/30   130.44   130.44   130.44   130.44       0     130.44
6456   1991/1/29   130.95   130.95   130.95   130.95       0     130.95
6457   1991/1/28   131.46   131.46   131.46   131.46       0     131.46
6458   1991/1/25   132.05   132.05   132.05   132.05       0     132.05
6459   1991/1/24   132.61   132.61   132.61   132.61       0     132.61
6460   1991/1/23   133.17   133.17   133.17   133.17       0     133.17
6461   1991/1/22   133.72   133.72   133.72   133.72       0     133.72
6462   1991/1/21   134.24   134.24   134.24   134.24       0     134.24
6463   1991/1/18   134.24   134.24   134.24   134.24       0     134.24
6464   1991/1/17   134.25   134.25   134.25   134.25       0     134.25
6465   1991/1/16   134.24   134.24   134.24   134.24       0     134.24
6466   1991/1/15   134.74   134.74   134.74   134.74       0     134.74
6467   1991/1/14   134.67   134.67   134.67   134.67       0     134.67
6468   1991/1/11   134.60   134.60   134.60   134.60       0     134.60
6469   1991/1/10   133.97   133.97   133.97   133.97       0     133.97
6470    1991/1/9   133.34   133.34   133.34   133.34       0     133.34
6471    1991/1/8   132.68   132.68   132.68   132.68       0     132.68
6472    1991/1/7   132.06   132.06   132.06   132.06       0     132.06
6473    1991/1/4   131.44   131.44   131.44   131.44       0     131.44
6474    1991/1/3   130.14   130.14   130.14   130.14       0     130.14
6475    1991/1/2   128.84   128.84   128.84   128.84       0     128.84
6476  1990/12/31   127.61   127.61   127.61   127.61       0     127.61
6477  1990/12/28   126.45   126.45   126.45   126.45       0     126.45
6478  1990/12/27   125.28   125.28   125.28   125.28       0     125.28
6479  1990/12/26   125.27   125.27   125.27   125.27       0     125.27
6480  1990/12/25   120.25   120.25   120.25   120.25       0     120.25
6481  1990/12/24   114.55   114.55   114.55   114.55       0     114.55
6482  1990/12/21   109.13   109.13   109.13   109.13       0     109.13
6483  1990/12/20   104.39   104.39   104.39   104.39       0     104.39
6484  1990/12/19    99.98    99.98    99.98    99.98       0      99.98

[6485 rows x 7 columns]

In [100]:
url = 'file:///Users/xupanfeng/Downloads/Data102-master/code/4w/最新地震.webarchive'

dfs = pd.read_html(url)
dfs

ImportError: html5lib not found, please install it

In [107]:
!pip install html5lib

Collecting html5lib
  Retrying (Retry(total=4, connect=None, read=None, redirect=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x105b8d050>, 'Connection to pypi.python.org timed out. (connect timeout=15)')': /simple/html5lib/
  Retrying (Retry(total=3, connect=None, read=None, redirect=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x105b8d750>, 'Connection to pypi.python.org timed out. (connect timeout=15)')': /simple/html5lib/
  Retrying (Retry(total=2, connect=None, read=None, redirect=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x105b8de90>, 'Connection to pypi.python.org timed out. (connect timeout=15)')': /simple/html5lib/
  Retrying (Retry(total=1, connect=None, read=None, redirect=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x105b8dc50>, 'Connection to pypi.python.org timed out. (connect timeout=15)')': /simple/html5lib/
  Retrying (Retry(total=0, connect=None, read=None, redirect=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x105b8d390>, 'Connection to pypi.python.org timed out. (connect timeout=15)')': /simple/html5lib/
  Could not find a version that satisfies the requirement html5lib (from versions: )
No matching distribution found for html5lib

In [105]:
import pandas as pd
import requests
import numpy as np
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
%matplotlib inline

ImportError: No module named basemap